.portfolio-container {
    max-width: 900px;
    margin: auto;
}

.video-container {
    text-align: center;
    margin: 30px 0;
}

@media (min-width: 64em) {
    .page {
        width: 90%;
        margin: 0 auto;
    }

    .page__inner-wrap {
        width: 100%;
    }

    .page__content {
        width: 100%;
    }
}

.page__content {
    font-size: 0.9rem;
}

.page__content h1 {
    font-size: 2rem;
}

.page__content h2 {
    font-size: 1.5rem;
}

.page__content h3 {
    font-size: 1.25rem;
}

hr {
    margin: 40px 0;
}