.portfolio-container {
    max-width: 900px;
    margin: auto;
}


.video-container {
    text-align: center;
    margin: 30px 0;
}


h1 {
    font-size: 3em;
}


img {
    border-radius: 8px;
    margin-bottom: 20px;
}


hr {
    margin: 40px 0;
}